<nav>
	<h1>Welcome to the Smash Database</h1>
	Please choose an entity to inspect.
	<a href="./Characters">Characters</a>
	<a href="./Smash_maps">Smash Maps</a>
	<a href="./Smash_games">Smash Games</a>
	<a href="./Original_series">Original Series</a>
	</br></br></br>
</nav>