<nav>
    <div>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./Characters">Characters</a></li>
            <li><a href="./Original_series">Original Series</a></li>
            <li><a href="./Smash_games">Smash Games</a></li>
            <li><a href="./Smash_maps">Smash Maps</a></li>
        </ul>
    </div>
</nav>