{{> navigation}}
<form id=newCGRelationship>
    <fieldset>
        <legend>Add Character to Smash Game Relationship</legend>
        
		<label for="Character">Choose which character you want to assign a game: </label>
		<select name="smash_characters_dropdown" id="smash_characters_dropdown">
			<option value="no_series">No Character</option>
		</select>
        <br>
		<label for="Smash_game">Choose which game you want to assign it to: </label>
		<select name="smash_games_dropdown" id="smash_games_dropdown">
			<option value="no_series">No Game</option>
		</select>
        <br><br>
        <input type="submit" id="submitButton" value="Add Relationship">
    </fieldset>
</form>
<table id="dataDisplay"> </table>

<script src="./jquery-3.3.1.js"></script>
<script src="./Characters_to_games.js"></script>