<form>
    <fieldset>
        <legend>Add a Character</legend>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
		<label for="species">Species</label>
        <input type="text" name="species" id="species">
        <br>
        <label for="Year_released">Year Released</label>
        <input type="number" name="Year_released" id="Year_released">
        <br>
        <label for="Smash_year">Year added to Smash</label>
        <input type="number" name="Smash_year" id="Smash_year">
        <br>
		<label for="Series_id">Original Series</label>
        <input type="number" name="Series_id" id="Series_id">
        <br>
        <input type="button" id="submitButton" value="Add Character">
    </fieldset>
</form>
<div>
</div>
<script src="./character.js"></script>