{{> navigation}}
<form>
    <fieldset>
        <legend>Add a Character</legend>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
		<label for="species">Species</label>
        <input type="text" name="species" id="species">
        <br>
        <label for="Year_released">Year Released</label>
        <input type="number" name="Year_released" id="Year_released">
        <br>
        <label for="Smash_year">Year added to Smash</label>
        <input type="number" name="Smash_year" id="Smash_year">
        <br>
		<label for="Series_id">Original Series: </label>
		<select name="Series_id" id="Series_id">
			<option value="no_series">No Series</option>
		</select>
        <br>
        <input type="button" id="submitButton" value="Add Character">
    </fieldset>
</form>
</br>
<form>
	<fieldset>
		<label for="Char_by_series">Choose a series to see which characters originated from it: </label>
		<select name="Char_by_series" id="Char_by_series">
			<option value="no_series">No Series</option>
		</select>
		<input type="button" id="submitCSButton" value="Check Series">
	</fieldset>
</form>
</br>
<table id="dataDisplay"> </table>
<script src="./jquery-3.3.1.js"></script>
<script src="./character.js"></script>
