{{> navigation}}
<form>
    <fieldset>
        <legend>Add Smash Map to Smash Game Relationship</legend>
        
		<label for="Smash_map">Choose which map you want to assign a game: </label>
		<select name="Smash_map" id="Smash_map">
			<option value="no_series">No Map</option>
		</select>
        <br>
		<label for="Smash_game">Choose which game you want to assign it to: </label>
		<select name="Smash_game" id="Smash_game">
			<option value="no_series">No Game</option>
		</select>
        <br><br>
        <input type="button" id="submitButton" value="Add Relationship">
    </fieldset>
<table id="dataDisplay"> </table>

<script src="./jquery-3.3.1.js"></script>
<script src="./Maps_to_games.js"></script>