{{> navigation}}
<form id = "newSeries">
    <fieldset>
        <legend>Add Original Series</legend>
        <label for="Name">Name</label>
        <input type="text" name="series_name" id="series_name" required>
        <br>
        <label for="First_game">First Game</label>
        <input type="text" name="series_first_game" id="series_first_game" required>
        <br>
        <label for="Creation_year">Creation Year</label>
        <input type="number" name="series_creation_year" id="series_creation_year" required>
        <br>
        <label for="Number_of_games">Number of Games</label>
        <input type="number" name="series_number_of_games" id="series_number_of_games" required>
        <br><br>
        <input type="submit" id="submitButton" value="Add Original Series">
    </fieldset>
</form>
<form class = "updates" id = "updateSeries">
    <fieldset>
        <legend>Update an Original Series</legend>
        <input type="number" class = "idUpdate" id ="idUpdateSeries">
        <label for="name">Name</label>
        <input type="text" name="series_name" id="seriesNameUpdate" required>
        <br>
        <label for="First_game">First Game</label>
        <input type="text" name="series_first_game" id="seriesGameUpdate" required>
        <br>
        <label for="Creation_year">Creation Year</label>
        <input type="number" name="series_creation_year" id="seriesYearUpdate" required>
        <br>
        <label for="Number_of_games">Number of Games</label>
        <input type="number" name="series_number_of_games" id="seriesNumGamesUpdate" required>
        <br><br>
        <input type="submit" id="updateSeries" value="Update Series">
        <input type="button" id="cancelUpdateSeries" value="Cancel Update">
    </fieldset>
</form>
</r>
<form class = "deleteForms" id = "deleteSeries">
    <fieldset>
        <label for="Series_delete">Are you sure you would like to delete <b><a id="deleteSeriesName"></a></b>? All relationships associated with the game will be removed too!</label><a class = "deleteIds" id = "deleteSeriesId"></a>
        <br><br>
        <input type="button" id="submitDeleteSeries" value="Delete Series">
        <input type="button" id="cancelDeleteSeries" value="Cancel Delete">        
    </fieldset>
</form>
<table id="dataDisplay"> </table>

<script src="./jquery-3.3.1.js"></script>
<script src="./Original_series.js"></script>