<form>
    <fieldset>
        <legend>New Original Series</legend>
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name">
        <br>
        <label for="First_game">First Game</label>
        <input type="text" name="First_game" id="First_game">
        <br>
        <label for="Creation_year">Creation Year</label>
        <input type="number" name="Creation_year" id="Creation_year">
        <br>
        <label for="Number_of_games">Number of Games</label>
        <input type="number" name="Number_of_games" id="Number_of_games">
        <br><br>
        <input type="button" id="submitButton" value="Add Original Series">
    </fieldset>
<div>
</div>
<script src="./client.js"></script>