{{> navigation}}
<form>
    <fieldset>
        <legend>Add a Smash Game</legend>
        <label for="name">Name</label>
        <input type="text" name="Smash_name" id="Smash_name">
        <br>
        <label for="Year_released">Year Released</label>
        <input type="number" name="Year_released" id="Year_released">
        <br>
        <input type="button" id="submitButton" value="Add Game">
    </fieldset>
</form>
</br>
<form>
	<fieldset>
		<label for="Check_Smash_Contents">Show the </label>
		<select name="Check_Smash_Contents" id="Check_Smash_Contents">
			<option value="Choose">--Choose One--</option>
			<option value="Characters">Characters</option>
			<option value="Maps">Maps</option>
		</select>
		<lable for="Smash_Games_Select"> that can be found in the game: </label>
			<select name="Smash_Games_Select" id="Smash_Games_Select">
			<option value="Choose">--Choose One--</option>
		</select>
		<input type="button" id="submitCSButton" value="Check Game">
	</fieldset>
</form>
</br>
<table id="dataDisplay"> </table>
<script src="./jquery-3.3.1.js"></script>
<script src="./smash_games.js"></script>