{{> navigation}}
<form id = "newMap">
    <fieldset>
        <legend>Add Smash Map</legend>
        <label for="Name">Name</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="Year_added_to_smash">Year Added to Smash</label>
        <input type="number" name="map_smash_year" id="map_smash_year" required>
        <br>
		<label for="Series_id">Original Series: </label>
		<select name="Series_dropdown" id="Series_dropdown">
			<option value="no_series">New Series</option>
		</select>
        <br><br>
        <input type="submit" id="submitButton" value="Add New Map">
    </fieldset>
</form>
<form class = "updates" id="updateMap">
    <fieldset>
        <legend>Update the Map</legend>
        <input type="number" class = "idUpdate" id ="idUpdateMap">
        <label for="name">Name</label>
        <input type="text" name="name" id="mapNameUpdate" required>
        <br>
        <label for="Smash_year">Year added to Smash</label>
        <input type="number" name="smash_year" id="mapSmashUpdate" required>
        <br>
        <label for="Series_id">Original Series: </label>
        <select name="Series_dropdown" id="updateSeriesDropdown">
            <option value="no_series">Create New Series</option>
        </select>
        <br><br>
        <input type="submit" id="updateMap" value="Update Map">
        <input type="button" id="cancelUpdateMap" value="Cancel Update">
    </fieldset>
</form>
</br>
<form>
	<fieldset>
		<label for="By_series">Choose a series to see which maps originated from it: </label>
		<select name="Maps_by_series" id="Maps_by_series">
			<option value="no_series">All Series</option>
		</select>
		<input type="button" id="submitMSButton" value="Check Series">
	</fieldset>
</form>
<form class = "deleteForms" id = "deleteMap">
    <fieldset>
        <label for="Map_delete">Are you sure you would like to delete <b><a id="deleteMapName"></a></b>? All relationships associated with the map will be removed too!</label><a class = "deleteIds" id = "deleteMapId"></a>
        <br><br>
        <input type="button" id="submitDeleteMap" value="Delete Map">
        <input type="button" id="cancelDeleteMap" value="Cancel Delete">        
    </fieldset>
</form>
</br>
<table id="dataDisplay"> </table>

<script src="./jquery-3.3.1.js"></script>
<script src="./Smash_maps.js"></script>