{{> navigation}}
<form id = newSmash>
    <fieldset>
        <legend>Add a Smash Game</legend>
        <label for="name">Name</label>
        <input type="text" name="smash_name" id="smash_name">
        <br>
        <label for="Year_released">Year Released</label>
        <input type="number" name="smash_year_released" id="smash_year_released">
        <br>
        <input type="submit" id="submitButton" value="Add Game">
    </fieldset>
</form>
</br>
<form id = gameSearch>
	<fieldset>
		<label for="check_smash_contents">Show the </label>
		<select name="check_smash_contents" id="check_smash_contents">
			<option value="Choose">--Choose One--</option>
			<option value="games_characters">Characters</option>
			<option value="games_maps">Maps</option>
		</select>
		<label for="smash_games_select"> that can be found in the game: </label>
			<select name="smash_games_select" id="smash_games_select">
			<option value="Choose">--Choose One--</option>
		</select>
		<input type="button" id="submitGCMButton" value="Check Game">
	</fieldset>
</form>
</br>
<div id = searchResults>
	<h2 id = searchInfo></h1>
	<ul id = searchPrint></ul>
	<input type = "button" id = "hideButton" value = "Hide Search">
</div>
</br>
<table id="dataDisplay"> </table>
<script src="./jquery-3.3.1.js"></script>
<script src="./smash_games.js"></script>