{{> navigation}}
<form>
    <fieldset>
        <legend>Add Smash Map</legend>
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name">
        <br>
        <label for="Year_added_to_smash">Year Added to Smash</label>
        <input type="number" name="Year_added_to_smash" id="Year_added_to_smash">
        <br>
        <label for="Original_series">Original Series</label>
        <input type="text" name="Original_series" id="Original_series">
        <br><br>
        <input type="button" id="submitButton" value="Add Original Series">
    </fieldset>
<div>
</div>
<script src="./Smash_maps.js"></script>