.hiddenCol{
	display: none;
}
.hiddenCell{
	display:none;
}
#insert{
	display: block;
}
#update{
	background-color: #C0C0C0;
	display: none;
}
#idUpdate{
	display:none;
}
#searchResults{
	border: 1px solid;
	display: none;
	padding: 10px;
}
th{
	border: solid;
	background-color: lightgreen;
}
td{
	border: solid;
}